<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>
</head>
<body>
<h1>Impressum</h1>

<h2>Anbieter und Verantwortlicher für den Inhalt:</h2>
<p>Name: Patrick W. und Jakub W.</p>
<p>Anschrift: Mischok Academy in Augsburg</p>

<h2>Gegenstand der Website</h2>
<p>Diese Website dient ausschließlich privaten Testzwecken und bietet Zugriff auf eine Personendatenbank. Sie stellt keine Dienstleistung dar und es wird damit kein Geld verdient. Sie wurde im Folge einer Umschulung erstellt</p>

<h2>Haftungsausschluss</h2>
<p>Die Inhalte dieser Website wurden mit größtmöglicher Sorgfalt erstellt. Dennoch kann für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte keine Gewähr übernommen werden.</p>
<p>Die Nutzung der Website erfolgt auf eigene Gefahr. Der Anbieter übernimmt keine Haftung für Schäden, die durch die Nutzung der Website entstehen können, insbesondere nicht für direkte oder indirekte Schäden, Folgeschäden, entgangenen Gewinn oder Datenverlust.</p>

<h2>Datenschutz</h2>
<p>Die personenbezogenen Daten, die Sie uns über diese Website übermitteln, werden von uns vertraulich behandelt und nur zu den in der Datenschutzerklärung genannten Zwecken verwendet. Ihre Daten werden nicht an Dritte weitergegeben.</p>

<h2>Urheberrecht</h2>
<p>Alle Inhalte dieser Website sind urheberrechtlich geschützt. Die Vervielfältigung, Verbreitung oder öffentliche Zugänglichmachung von Inhalten dieser Website bedarf der vorherigen schriftlichen Genehmigung des Anbieters.</p>

</body>
</html>
